@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
}
::-webkit-scrollbar-thumb {
	background-color: #c34e4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-color: whitesmoke;
}
a {
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: rgb(196, 21, 21);
}
.app-content{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}